/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */

/* Colors */
:root {
  --color-white: #ffffff;
  --color-indigo-700: #4338ca;
  --color-neutral-900: #171717;
  --color-neutral-600: #525252;
  --color-green-700: #15803d;
  --color-green-200: #bbf7d0;
  --color-green-50: #f0fdf4;
  --color-linear-page: linear-gradient(148deg, #f9fafb 8.89%, #d2d6db 100.48%);

  --color-button-hover: #3730a3;
  --color-button-focus: #3730a3;
  --color-button-disabled: #a3a3a3;
}

/* Typography */
.text-base,
.text-lg {
  font-style: normal;
  font-weight: 400;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Components */
/* Button Component */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  line-height: 150%;
  color: var(--color-indigo-700);

  border-radius: 4px;
}

.button:hover {
  color: var(--color-button-hover);
}

.button:focus {
  color: var(--color-button-focus);

  background-color: var(--color-white);
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.button:disabled {
  color: var(--color-button-disabled);
}

.button__text {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 88px;
  padding: 0 2px;

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

.button__arrow {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

body {
  margin: 0;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  min-height: 100vh;
  padding: 120px 0;

  background-image: var(--color-linear-page);
}

.blog-card {
  display: flex;
  flex-direction: column;

  width: 340px;

  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.blog-card__thumbnail {
  width: 100%;
  height: 288px;
  object-fit: cover;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
